#cunavbar{
	padding-left: 70%;
	background-color :#302B2B;
	font-size: 20px; /* Taille de police plus grande */
}

#cunavbar .nav-link {
    color: #FFF; 
}

#cunavbar .nav-link:hover {
    color: #FFF; 
	font-size: 25px;
}

body{
	background-color: #4B5A39
}

/* Styles pour réduire la taille de l'image */
.image {
	margin-top:10%;
    width: 100%; /* Taille maximale de l'image en pixels */
    height: auto; /* Pour conserver les proportions de l'image */
}

/* Styles pour la zone de texte */
.scrolling-text {
	margin-top:10%;
    width: 100%; /* Largeur de la zone de texte */
    height: 62%; /* Hauteur de la zone de texte */
    overflow-y: scroll; /* Activer la barre de défilement verticale */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de police */
    line-height: 1.6; /* Hauteur de ligne */
    margin-left: 20px; /* Décalage vers la gauche */
}
